[submodule "utils"]
	path = utils
	url = http://10.36.169.170/alec.tu/jetson-utils
	branch = master
[submodule "python/training/imagenet"]
	path = python/training/imagenet
	url = https://github.com/dusty-nv/pytorch-imagenet
	branch = master
[submodule "tools/camera-capture"]
	path = tools/camera-capture
	url = https://github.com/dusty-nv/camera-capture
	branch = master
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
